<h2>Restaurants</h2>
<br>
<% @restaurants.each do |restaurant| %>
  <ul style="list-style: none;">
    <li><%= link_to restaurant.name,  restaurant_path(restaurant) %> </li>
  </ul>
  <% end %>
  <br>
  <%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn btn-primary" %>
